.yes-button {
  background-color: rgb(232, 72, 171);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  cursor: pointer;
}
.no-button {
  background-color: rgb(107, 115, 120);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: aqua;
  padding: 10px;
  margin: 0;
}
.div {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  max-width: 500px;
  width: 100%;
}
